#mail
{
font-family:serif;
width:98%;
border-collapse:collapse;
}
#mail td, #mail th 
{
font-size:1em;
border:1px #98bf21;
padding:3px 7px 2px 7px;
}
#mail th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#33cc00;
color:#ffffff;
}
#mail tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}

#read
{
font-family:serif;
width:98%;
border-collapse:collapse;
background-color: #EAF2D3;
}
#read td, #read th 
{
font-size:1em;
border:1px #000000;
padding:3px 7px 2px 7px;
background-color: #EAF2D3;
}
#read tr.alt td 
{
text-align: center;
color:#000000;
background-color:#EAF2D3;
}

#read tr.thisuser td 
{
background-color:#f0f0f0;
}

#read th 
{
font-size:1.1em;
padding-top:5px;
padding-bottom:5px;
background-color:#33cc00;
color:#ffffff;
}

#notif
{
font-family:serif bold;
font-weight: 200;
width:98%;
font-size: 1em;
border-collapse: collapse;
border: double;
background-color: #ffffff;
}
#notif td, #notif th 
{
font-size:1em;
border:1px #000000;
padding:3px 7px 2px 7px;
background-color: #ffffff;
}
#notif tr.second td 
{
background-color:#EAF2D3;
}
#notif th 
{
font-size:1.1em;
padding-top:5px;
padding-bottom:5px;
background-color:#33cc00;
color:#ffffff;
}

#rma 
{
color: #ffffff;
text-decoration: none;
}
#anonehead
{
color:#33cc00;
text-decoration: none;
}
#anonehead:hover
{
color: #33ff00;
text-decoration: underline;
}
#anone
{
color: #33cc33;
text-decoration: none;
}
#anone:hover
{
color: #33ff00;
text-decoration: underline;
}
#anonew
{
color: #ffffff;
text-decoration: none;
}
#anonew:hover
{
color: #ffffff;
text-decoration: underline;
}
#tindex td.add
{
border-right: inset;
}
#index
{
width: 100%;
}

.button {
font-family: Georgia;
border: 0px;
padding:0px;
cursor:pointer;
font-size: 1em;
background-color: white;
vertical-align:bottom;
color: #33cc33;
text-decoration: none;
}
.button:hover {
font-family: Georgia;
border:0px;
padding:0px;
cursor:pointer;
background-color: white;
color: #33ff00;
text-decoration: underline;
}

.tup{
border:0px;
padding:0px;
cursor:pointer;
background-image: url('design/tup.gif'); 
width:35px; 
height: 41px;
}
.tup:hover{
background-image: url('design/tup-h.gif'); 
border:0px;
padding:0px;
cursor:pointer;
width:35px; 
height: 41px;
}

.tud{
border:0px;
padding:0px;
cursor:pointer;
background-image: url('design/tud.jpg'); 
width:35px; 
height: 41px;
}
.tud:hover{
background-image: url('design/tud-h.jpg'); 
border:0px;
padding:0px;
cursor:pointer;
width:35px; 
height: 41px;
}

.more { 
display: none; 
}
.floatleft { 
float: left; 
}

#shouts
{
border-collapse: collapse;
}
#shouttext
{
font-size: 0.75em;

}
/* Shoutbox */
.shoutnail{
position: relative;
z-index: 0;
}

.shoutnail:hover{
background-color: transparent;
z-index: 50;
}

.shoutnail span{ 
position: absolute;
background-color: #ffffff;
height: 10px;
width: 100px;
padding-bottom: 6px;
left: 0px;
border: 1px double gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.shoutnail:hover span{ 
visibility: visible;
top: 12;
left: 0px; 
}

/*User profile*/
.thumbnail{
position: relative;
z-index: 0;
}

.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail span{ 
position: absolute;
background-color: lightyellow;
padding: 5px;
left: -100px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img{ 
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ 
visibility: visible;
top: -150px;
left: 30px; 
}
#test td
{
border-left: none;
border-top: none;
border-bottom: none;
}
#userprofile td, #userprofile tr
{
border-collapse:collapse;
}
#userprofile th 
{
border-collapse:collapse;
}
#userprofile td.top
{
font-family: Garamond;
color: #ffffff;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
behavior: url(border-radius.htc);
border-color: blue;
background-color:#33cc00;
}
#userprofile td.top:hover
{
font-family: Garamond;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
behavior: url(border-radius.htc);
border-color: blue;
background-color:#33ff00;
}
#points{
font-family: Comic Sans MS;
background-color: #5EE91B;
margin:0px;
padding:0px;
border:solid;
border-color: #5EE91B;
width: 100%;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
behavior: url(border-radius.htc);
border-bottom: solid;
border-right: solid;
}
#points td{
margin: 3px;
background-color: #fff;
}

.link{
	font-family: Georgia;
	font-size: 1em;
	margin-left: -6px;
	color: #33cc33;
	border:none;
	background-color:#fff;
}
.link:hover{
	color: #33ff00;
	text-decoration:underline;
	cursor:pointer;
}

br.small {
line-height: 1px;
}

#headerLink{
	text-decoration:none;
}
#headerLink:hover{
	text-decoration:underline;
}

.postbutton {
	border: solid 1px;
	background-color: #B4FE8F;
	padding: 2px 8px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	behavior: url(border-radius.htc);
}
.postbutton:hover {
	border: solid 1px;
	background-color:#5EE91B;
	padding: 2px 8px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	behavior: url(border-radius.htc);
}



p.overflow{
	width:50em;
	height:100%;
	border:none;
	word-wrap:break-word;
}
